# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.SpinCycle.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Dev\TFS\CAPSTONE\SpinCycle\.idea\.idea.SpinCycle\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
